.current-openings-container {
    padding: 1em 0 2em;
    margin: 0 auto 2em;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 0.7em;
    }

    .explore {
        background-color: #22AE9D;
        color: white;
        border: none;
        padding: 0.7em 1.5em;
        margin-top: 2em;
        font-size: clamp(0.9rem, 2vw, 1.1rem);

        &:hover {
            background-color: #1d988a;
            cursor: pointer;
        }
    }

    .current-card {
        width: 90%;
        margin: 0 auto 1em;
        padding: 1em 2em;
        background-color: white;
        border: 1px solid #BBBBBB;

        h3 {
            font-size: clamp(0.9rem, 2.5vw, 1.3rem);
        }

        .info-wrapper {
            display: flex;
            align-items: center;

            .info {
                flex: 1;
                display: flex;
                flex-direction: column;

                .location {
                    display: flex;
                    align-items: center;

                    p {
                        margin-left: 0.5em;
                    }
                }
            }

            button {
                padding: 0.6em 2em;
                color: #22292F;
                font-weight: 500;
                font-size: 1rem;
            }
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}